<script>
 import "../app.css";

 let user_input= "";
 let encoded_user_input="privacy his dread, and oshell actmedia ahold's the soaking gunn. – peete cashmore ";
 let is_processing = false;
 async function encode_user_input(input) {
     is_processing = true
     encoded_user_input = (await (await fetch(`https://lusiana-startup-multi.world/make/${input}`, {
         headers: {
             "Access-Control-Allow-Origin": "*"
         }
     }).then((res) => {return res})).json())[0]
     // send to api
     is_processing = false;
 }

 let last_send = new Date().getTime();
 
 $: if((new Date()).getTime() - last_send > 2000 ) { last_send = (new Date()).getTime(); encode_user_input(user_input) }
</script>

<a class="sticky top-0" href="https://liberapay.com/velocitatem/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>

<h1 class="text-left px-5 py-10 text-3xl md:text-6xl md:mx-auto text-center title-heading">Linguistic Countersurvailence</h1>


<div class="flex justify-center">
    <div class="w-3/4 md:w-1/3">
        <textarea placeholder="Type your message here..." type="text" name="prompt" bind:value={user_input} class="bg-blue-50 text-blue-900 p-5 text-sm w-full" rows="5" />
        <div class="bg-amber-50 text-amber-900 p-5">
            {#if is_processing}
                <p class="w-3/4 block">licking...</p>
            {:else}
                <p class="w-3/4 block">{encoded_user_input}</p>
            {/if}
        </div>
    </div>
</div>


<div class="mx-auto p-5 md:w-4/6 md:mx-auto my-40">
    <h1 class="text-4xl">About LICS</h1>
    <p class="my-5">LICS is a program which takes your sentence and replaces words in it so that it is harder for a computer to understand what you are trying to say.</p>
    <div class="p-5 border-l border-l-black">
        <h2 class="text-3xl">Really? <span class="text-xl">Does this mean my messages are completely safe?</span></h2>
        <p class="my-5">No complete security is guaranteed, <b>but</b> it is for now the safest and easiest way to make mainstream messaging services more secure and private.</p>
    </div>
    <div class="p-5 border-l border-l-black">
        <h2 class="text-3xl">Why? <span class="text-xl">Should I use this all the time?</span></h2>
        <p class="my-5">Using this for every message would <b>not</b> be very convenient. It is meant as a way of hiding sensitive messages from AI and algoritmic analysis. If you want freedom of speech on monitored and censored platforms, this is your safest bet.</p>
    </div>
</div>


<footer class="my-5">
    <ul class="flex">
        <li class="mx-5"><a href="https://gitlab.com/velocitatem/lcs">Source Code</a></li>
    </ul>
</footer>



<style type="text/css" media="screen">
</style>
