@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;      
body {
  color: #1c1d21;
  font-family:Alegreya, serif;
}

.title-heading {
  font-family: 'Roboto Slab', serif;
}

.prompt-border {
  border-width: 1px;
}
textarea:focus, input:focus{
  outline: none;
}
